.outer-box {
  display:grid;
  grid-template-columns: 1fr 1fr;

}
.box {
  margin:20px;
}
body {
  background-image: url("https://i.chzbgr.com/full/5460623104/hB335E31B/"); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: black;
  font-size: 20px;
  font-family: 'Fascinate', cursive;

}
