.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  margin: auto;
  vertical-align: text-bottom;
}

.restaurant {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

a {
  color: black;
}

a:hover {
  background-color: gray;
}

.restaurant-head {
  display: inline-block;
  vertical-align: -100px;
}

.flex-container > div:hover {
  background-color: yellow;
}

#favorites {
  float: right;
  margin: 10px;
}

#star {
  width: 30px;
  height: 30px;
}
#favorites:hover {
  font-size: 25px;
}
