
body {
  background-color: #6D7A82;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /*
  background-color: hsl(4, 19%, 48%);
  */
  background-color: hsl(203, 9%, 85%);
  margin: auto;
  vertical-align: text-bottom;


}

.restaurant {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

h1 {
  color: #edf1f2
}
h3 {
  color: #edf1f2
}

h2 {
  color: #edf1f2;
  font-weight: lighter;
}

a {
  color: black;
}

td:hover {
  background-color: #6D7A82 ;
}
td:hover .rest-info{
  color:dimgray;
}

.restaurant-head {
  display: inline-block;


}

.rest-info {
  color: transparent;
  font-size: 15px;
  display: inline-block;
  vertical-align: text-bottom;

}


#favorites {
  float: right;
  margin: 10px;
}

#star {
  width: 30px;
  height: 30px;
}
#favorites:hover {
  font-size: 25px;
  color: #d1af1b;
}

#head-btns {
  background-color: #6D7A82;
}
.filter-sort-form {
  width: 250px;
}
.select {
   width: 150px;
   height: 27px;
   background-color: darkgray; /* Green */
   border: none;
   color: white;
   padding: 5px 5px;
   margin: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
}
.submit {
  height:27px;
  background-color: lightgray;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.submit:hover {
  background-color:hsl(4, 19%, 70%);
}

.buttonhover {
  float:right;
  margin: 2px 2px;
  height:40px;
  background-color: lightgray;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  line-height:27px; }
.header {
  float:left;
  font-family: 'Amatic SC', cursive;
  margin:auto;
}


.buttonhover:hover {
  background-color: hsl(4, 19%, 70%);
}

.add_restaurant {
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;

}
.add_restaurant:hover {
  background-color: hsl(4, 19%, 70%);
  /*background-color: #f1f2f6;*/
}

#logout-btn {
  font-family: "Times New Roman";
  width: 100px;
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
#logout-btn:hover{
  background-color: hsl(4, 19%, 70%);
}
