<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">
    <button class="button" onclick="window.location.href = '/AddInterest';">Go to Interest Page</button>
    <button class="button" onclick="window.location.href = '/';">Go to Restaurants Page</button>
    <!-- <h2 align="right" class="buttonhover"><button class="button"><a href="http://localhost:8080/AddInterest">Interest Page</a></h2>
    <h2 align="right"class="buttonhover"><button class="button"><a href="http://localhost:8080/favorites">Favorites Page</a></h2> -->

  </head>
  <body>
    <script type="text/javascript">
    const GOOGLE_API_KEY = "{{api_key}}"
    </script>
    <script type="text/javascript" src="/js/location.js"></script>
    <div id="restaurants_info">
      {% if user %}
       <h2>User is {{user.email()}}<span id="favorites"> My Favorites</span></h2>
       <br>
       <form method="get">
         <select name="sort_selection">
           <option value="sort-by">Sort By</option>
           <option value="distance">Distance</option>
           <option value="rating">Rating</option>
           <option value="food type">Food Type</option>
          </select>
          <input type="submit" name="" value="Submit">
        </form>
        <br>
       <!--if food preferences != NONE -->

       <div class="flex-container">
         <table id="restaurants-table">
           {%for restaurant in restaurants%}
           {% if restaurants.index(restaurant) % 6 == 0%}
            <tr>
           {%endif%}
           <td>
           <a href = "{{restaurant['url']}}"target="_blank">
             <div class="restaurant">
               <p class = "restaurant-head">{{restaurant['name']}}</p>
               <div class = "rest-info-div">
                 <p class = "rest-info">Yelp Rating: {{restaurant["rating"]}}
                   <br>Drive Time: {{restaurant["duration"]}}
                   <br>Type of Food: {{restaurant["categories"][0]["title"]}}

                 </p>
               </div>
             </div>
             </a>
          <form method="post" action="/AddFavorite">
            <input type="text" name="restaurantname" value="{{restaurant['name']}}" hidden="true">
            <input type="submit" name="" value="Favorite">
          </form>

           </td>
           {% if restaurants.index(restaurant) % 6 == 5%}
            </tr>
           {%endif%}
        <!-- <button type="button">Click Me!</button> -->
           {%endfor%}
          </table>
        </div>


      <!--`
      <div class="flex-container">
        {%for restaurant in restaurants%}
         <div class="restaurant"><p class = "restaurant-head">{{restaurant['duration']}}</p></div>
        {%endfor%}
      </div>
    -->
       <!--
       {% for each_restaurant in restaurants_five_to_ten %}
       {%endfor%}
      -->
      <br>
       <a href="{{logout_url}}">Logout</a>
       {% else %}
      <h1>No user!</h1>
       <a href="{{login_url}}">Login</a>
      {% endif %}

    </div>

  </body>
</html>
