<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/favorites.css">
  </head>
  <body>
    <div class = "outer-box">
      <div class = "box">
<!-- this puts fav food types in a visable list -->
        <h1>Favorite Types</h1>
        <ul>
        {%for food_type in food_types%}
          <li>{{food_type}}</li>
        {%endfor%}
        </ul>
      </div>
      <div class = "box">
<!-- this puts fav restaurants in a visable list -->
        <h1>Favorite Restaurants</h1>
        <ul>
        {%for fav_resturants in fav_resturants%}
          <li>{{fav_resturants}}</li>
        {%endfor%}
        </ul>
      </div>
    </div>
  </body>
</html>
