<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow|Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow|Jacques+Francois+Shadow|Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow|Cormorant+Garamond|Nanum+Gothic&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/favorites.css">
    <div>


      <h5 align="right" class="buttonhover"><button class="button"><a href="/AddInterest">Interest Page</a></button></h5>
      <h5 align="right" class="buttonhover"><button class="button"><a href="/"> Restaurants Page</a></button></h5>

    </div>
  </head>
  <body>
    <h1 align= "center">Your Favorites </h1>
    <div class = "outer-box">
      <div class = "box">
<!-- this puts fav food types in a visable list -->
        <h2 align="center">Favorite Food</h2>
        <ul>
        {%for food_type in food_types%}
          <li>{{food_type}}</li>
        {%endfor%}
        </ul>
      </div>
      <div class = "box">
<!-- this puts fav restaurants in a visable list -->
        <h2 align="center">Favorite Restaurants</h2>
        <ul>
        {%for restaurant_favs in restaurant%}
          <li>{{restaurant_favs}}</li>
        {%endfor%}
        </ul>
      </div>
    </div>

  </body>
</html>
