<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel="stylesheet" href="/css/InterestPage.css">
  </head>
  
  <body>


    <h1>Add Interest</h1>
    <form method="post">
      <div>
        Food:
        <ul>
          <li>Afghan </li>
          <li>African </li>
          <li>Senegalese </li>
          <li>South African </li>
          <li>American (new) </li>
          <li>American (Traditional) </li>
          <li>Arabian </li>
          <li>Argentine </li>
          <li>Armenian </li>
          <li>Asian Fusion </li>
          <li>Australian </li>
          <li>Austrian </li>
          <li>Bangladeshi </li>
          <li>Barbeque </li>
          <li>Basque </li>
          <li>Belgian </li>
          <li>Brasseries </li>
          <li>Brazilian </li>
          <li>Breakfast & Brunch </li>
          <li>Pancakes </li>
          <li>British </li>
          <li>Buffets </li>
          <li>Bulgarian </li>
          <li>Burgers </li>
          <li>Burmese </li>
          <li>Cafes </li>
          <li>Themed Cafes </li>
          <li>Cafeteria </li>
          <li>Cajun/Creole </li>
          <li>Cambodian </li>
          <li>Caribbean </li>
          <li>Dominican </li>
          <li>Haitian </li>
          <li>Puerto Rican </li>
          <li>Trinidadian </li>
          <li>Catalan </li>
          <li>Cheesesteaks </li>
          <li>Chicken Shop </li>
          <li>Chicken Wings </li>
          <li>Chinese </li>
          <li>Cantonese </li>
          <li>Dim Sum </li>
          <li>Hainan </li>
          <li>Shanghainese </li>
          <li>Szechuan </li>
          <li>Comfort Food </li>
          <li>Creperies </li>
          <li>Cuban </li>
          <li>Czech </li>
          <li>Delis </li>
          <li>Diners </li>
          <li>Dinner Theater </li>
          <li>Eritrean </li>
          <li>Ethiopian </li>
          <li>Fast Food </li>
          <li>Filipino </li>
          <li>Fish & Chips </li>
          <li>Fondue </li>
          <li>Food Court </li>
          <li>Food Stands </li>
          <li>French </li>
          <li>Mauritius </li>
          <li>Reunion </li>
          <li>Game Meat </li>
          <li>Gastropubs </li>
          <li>Georgian </li>
          <li>German </li>
          <li>Gluten-Free </li>
          <li>Greek </li>
          <li>Guamanian </li>
          <li>Halal </li>
          <li>Hawaiian </li>
          <li>Himalayan/Nepalese </li>
          <li>Honduran </li>
          <li>Hong Kong Style Cafe </li>
          <li>Hot Dogs </li>
          <li>Hot Pot </li>
          <li>Hungarian </li>
          <li>Iberian </li>
          <li>Indian </li>
          <li>Indonesian </li>
          <li>Irish </li>
          <li>Italian </li>
          <li>Calabrian </li>
          <li>Sardinian </li>
          <li>Sicilian </li>
          <li>Tuscan </li>
          <li>Japanese </li>
          <li>Conveyor Belt Sushi </li>
          <li>Izakaya </li>
          <li>Japanese Curry </li>
          <li>Ramen </li>
          <li>Teppanyaki </li>
          <li>Kebab </li>
          <li>Korean </li>
          <li>Kosher </li>
          <li>Laotian </li>
          <li>Latin American </li>
          <li>Colombian </li>
          <li>Salvadoran </li>
          <li>Venezuelan </li>
          <li>Live/Raw Food </li>
          <li>Malaysian </li>
          <li>Mediterranean </li>
          <li>Falafel </li>
          <li>Mexican </li>
          <li>Tacos </li>
          <li>Middle Eastern </li>
          <li>Egyptian </li>
          <li>Lebanese </li>
          <li>Modern European </li>
          <li>Mongolian </li>
          <li>Moroccan </li>
          <li>New Mexican Cuisine </li>
          <li>Nicaraguan </li>
          <li>Noodles </li>
          <li>Pakistani </li>
          <li>Pan Asian </li>
          <li>Persian/Iranian </li>
          <li>Peruvian </li>
          <li>Pizza </li>
          <li>Polish </li>
          <li>Polynesian </li>
          <li>Pop-Up Restaurants </li>
          <li>Portuguese </li>
          <li>Poutineries </li>
          <li>Russian </li>
          <li>Salad </li>
          <li>Sandwiches </li>
          <li>Scandinavian </li>
          <li>Scottish </li>
          <li>Seafood </li>
          <li>Singaporean </li>
          <li>Slovakian </li>
          <li>Somali </li>
          <li>Soul Food </li>
          <li>Soup </li>
          <li>Southern </li>
          <li>Spanish </li>
          <li>Sri Lankan </li>
          <li>Steakhouses </li>
          <li>Supper Clubs </li>
          <li>Sushi Bars </li>
          <li>Syrian </li>
          <li>Taiwanese </li>
          <li>Tapas Bars </li>
          <li>Tapas/Small Plates </li>
          <li>Tex-Mex </li>
          <li>Thai </li>
          <li>Turkish </li>
          <li>Ukrainian </li>
          <li>Uzbek </li>
          <li>Vegan </li>
          <li>Vegetarian </li>
          <li>Vietnamese </li>
          <li>Waffles </li>
          <li> Wraps <input type="checkbox" id="interest" name="new_interest" value=""></li>
        </ul>
      </div>

      <input type="submit" name="" value="Submit">
    </form>


    <h1>Interests</h1>
    <form class="" action="/DeleteInterests" method="post">
      <table>
        <tr>
          <th>Added Interests</th>

        </tr>
        {% for d in Interests %}
        <tr>
          <td>{{d.interests}}</td>
          <td><input type="checkbox" name="to_delete" value="{{d.key.urlsafe()}}"></td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" name="" value="Delete Selected">
    </form>

  </body>
</html>
