<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel="stylesheet" href="/css/InterestPage.css">
  </head>
  
  <body>


    <h1>Add Interest</h1>
    <form method="post">
      <div>
        Food:
        <ul>
          <li>Afghan <input type="checkbox" id="interest" name="new_interest1" value="Afghan"></li>
          <li>African <input type="checkbox" id="interest" name="new_interest2" value="African"></li>
          <li>Senegalese <input type="checkbox" id="interest" name="new_interest3" value="Senegalese"></li>
          <!--<li>South African <input type="checkbox" id="interest3" name="new_interest" value=""></li>
          <li>American (new) <input type="checkbox" id="interest4" name="new_interest" value=""></li>
          <li>American (Traditional) <input type="checkbox" id="interest5" name="new_interest" value=""></li>
          <li>Arabian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Argentine <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Armenian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Asian Fusion <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Australian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Austrian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Bangladeshi <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Barbeque <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Basque <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Belgian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Brasseries <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Brazilian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Breakfast & Brunch <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Pancakes <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>British <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Buffets <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Bulgarian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Burgers <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Burmese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cafes <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Themed Cafes <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cafeteria <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cajun/Creole <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cambodian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Caribbean <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Dominican <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Haitian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Puerto Rican <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Trinidadian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Catalan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cheesesteaks <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Chicken Shop <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Chicken Wings <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Chinese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cantonese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Dim Sum <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hainan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Shanghainese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Szechuan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Comfort Food <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Creperies <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Cuban <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Czech <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Delis <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Diners <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Dinner Theater <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Eritrean <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Ethiopian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Fast Food <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Filipino <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Fish & Chips <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Fondue <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Food Court <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Food Stands <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>French <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Mauritius <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Reunion <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Game Meat <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Gastropubs <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Georgian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>German <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Gluten-Free <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Greek <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Guamanian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Halal <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hawaiian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Himalayan/Nepalese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Honduran <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hong Kong Style Cafe <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hot Dogs <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hot Pot <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Hungarian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Iberian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Indian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Indonesian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Irish <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Italian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Calabrian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Sardinian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Sicilian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Tuscan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Japanese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Conveyor Belt Sushi <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Izakaya <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Japanese Curry <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Ramen <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Teppanyaki <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Kebab <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Korean <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Kosher <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Laotian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Latin American <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Colombian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Salvadoran <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Venezuelan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Live/Raw Food <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Malaysian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Mediterranean <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Falafel <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Mexican <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Tacos <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Middle Eastern <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Egyptian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Lebanese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Modern European <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Mongolian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Moroccan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>New Mexican Cuisine <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Nicaraguan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Noodles <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Pakistani <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Pan Asian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Persian/Iranian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Peruvian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Pizza <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Polish <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Polynesian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Pop-Up Restaurants <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Portuguese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Poutineries <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Russian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Salad <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Sandwiches<input type="checkbox" id="interest" name="new_interest" value=""> </li>
          <li>Scandinavian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Scottish <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Seafood <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Singaporean <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Slovakian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Somali <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Soul Food <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Soup <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Southern <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Spanish <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Sri Lankan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Steakhouses <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Supper Clubs <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Sushi Bars <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Syrian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Taiwanese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Tapas Bars <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Tapas/Small Plates <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Tex-Mex <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Thai <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Turkish <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Ukrainian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Uzbek <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Vegan <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Vegetarian <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Vietnamese <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li>Waffles <input type="checkbox" id="interest" name="new_interest" value=""></li>
          <li> Wraps <input type="checkbox" id="interest" name="new_interest" value=""></li>-->
        </ul>
      </div>

      <input type="submit" name="" value="Submit">
    </form>


    <h1>Interests</h1>
    <form class="" action="/DeleteInterests" method="post">
      <table>
        <tr>
          <th>Added Interests</th>

        </tr>
        {% for d in Interests %}
        <tr>
          <td>{{d.interests}}</td>
          <td><input type="checkbox" name="to_delete" value="{{d.key.urlsafe()}}"></td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" name="" value="Delete Selected">
    </form>

  </body>
</html>
