<!DOCTYPE html>
<html>
  <head>
    <title>InterestPage</title>
    <link rel="stylesheet" href="/css/InterestPage.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">


    <form style="display: inline" action="http://localhost:8080/favorites" method="get">
      <button>Show Favorites Page</button>
      </form>

    <form style="display: inline" action="http://localhost:8080/" method="get">
      <button>Show Restaurants Page</button>


    </form>


  <body>
    <h2>Todo</h2>

<div id="container">
    <h1>Add Interest</h1>
    <form method="post" class="center_my_todo">
      <div>

        Food:
        <ul>
          {% set count =1 %}
          {% for i in Possible_Interests%}
          <li> {{i}} <input type="checkbox" id="interest" name="new_interest{{count}}" value="{{i}}"></li>

          {% set count = count + 1 %}
          {% endfor %}

        </ul>
      </div>

      <input type="submit" name="" value="Submit">
    </form>


    <h1>Interests</h1>
    <form class="" action="/DeleteInterests" method="post">
      <table>
        <tr>
          <th>Added Interests</th>

        </tr>
        {% for d in Interests %}
        <tr>
          <td>{{d.interests}}</td>
          <td><input type="checkbox" name="to_delete" value="{{d.key.urlsafe()}}"></td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" name="" value="Delete Selected">
    </form>


</div>



  </body>
</html>
